.absente-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 80px;
    height: 100%;
}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 10px;
}
.icons > div {
    margin-left: 10px;
}
.green {
    color: rgb(29, 221, 29);
    font-size: 12px;
    margin-right: 3px;
}
.red {
    color: #f01;
    margin-right: 3px;
    font-size: 12px;
    height: 100%;
}
.yellow {
    color: rgb(255, 238, 0);
    margin-right: 3px;
    font-size: 12px;
}

.no-absente {
    padding: 120px;
    color: #3d4eff;
}
.absente-content i {
    font-size: 100px;
    color: #3d4eff;
}
.table-container {
    padding: 20px;
    border: 1px solid #ccc;
    margin-left: 5%;
    width: 1020px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
        rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
.table-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 978px !important;
    border: 1px solid #ccc;
    background-color: #fff;
}
.table-responsive {
    width: 1120px;
    margin-left: -17%;
    height: 100%;
    background-color: #eaeef3;
}
.table-responsive label {
    margin-top: 40px;
    font-weight: bold;
    margin-left: 5px;
}
.table {
    margin: 40px;
}
.center {
    width: 200px;
    text-align: center;
    margin-top: 5%;
}
.centerImg {
    width: 200px;
    text-align: center;
}

.center-field {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 17px;
}

.profImg {
    width: 50px;
    padding: 3px;
    border: 3px solid rgb(210, 214, 222);
    border-radius: 50% 50% 50% 50%;
}
.center:hover {
    color: #4680ff;
    cursor: pointer;
}
.indcate {
    display: flex;
    justify-content: center;
}

.absences-t-body {
    color: #333;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 2px;
    font-family: Poppins, sans-serif;
}
.Color {
    font-family: sans-serif;
    text-align: center;
    color: #6673fc;
    font-weight: 800;
    cursor: pointer;
}
