.Score {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 1115px;
    margin-left: -17%;
    padding: 20px 0 0 1px;
    height: 100%;
    background-color: #eaeef3;
}
.table-bordered {
    margin-left: 4%;
}

.exams-container {
    padding: 20px;
    width: 1050px;
    margin-left: 3%;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
        rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.table-head,
.table-body {
    background-color: #fff;
    padding: 0.5rem;
    letter-spacing: 1px;
}
.table-head {
    font-family: sans-serif;
    text-align: center;
    color: #6673fc;
    font-weight: 800;
    cursor: pointer;
}
.table-body {
    text-align: center;
    font-weight: lighter;
}
.table-body:hover {
    color: #4680ff;
    cursor: pointer;
}
.exmas-t-body {
    color: #333;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 2px;
    font-family: Poppins, sans-serif;
}
.EX-center-field {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 17px;
}
