.Student {
	margin-left: var(--screen-margin-left);
	padding: var(--screen-padding);
	min-height: var(--min-height);
	background-color: var(--color-background-ligth);
	transition: var(--ease-all);
}
.student-sidebar-closed {
	margin-left: 0%;
	padding: var(--screen-padding);
	min-height: var(--min-height);
	background-color: var(--color-background-ligth);
	transition: var(--ease-all);
}
