.page-footer {
	padding: 19px 5px;
	font-size: 13px;
	background-color: var(--color-footer-black);
	margin-left: 17%;
	text-align: right;
	transition: 0.3s ease all;
}
.page-footer-toggle-closed {
	padding: 19px 5px;
	font-size: 13px;
	background-color: var(--color-footer-black);
	margin-left: 0%;
	text-align: right;
	transition: 0.3s ease all;
}
.page-footer .page-footer-inner {
	color: var(--color-font-ligth);
}

.page-footer-toggle-closed .page-footer-inner {
	color: var(--color-font-ligth);
}
