.score-page-content {
    background-color: #eaeef3;
    display: flex;
    flex-direction: column;
}
.score-page-content h1 {
    padding: 5px 0 0 0;
    letter-spacing: 1px;
    font-weight: bold;
    color: #666;
    margin-left: 2%;
    font-size: 30px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
}
.input-text-field {
    width: 500px !important;
    margin-top: -5px;
    margin-left: 110px;
}
