.calendar {
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 20px;
    background: #fff;
    width: 800px;
}

.loader {
    margin-top: -8%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 585px;
    width: 85%;
}
